body {
	font-family: "Montserrat", sans-serif;
	background-color: #eeede9;
}

.container {
	display: flex;
	width: 100%;
	align-items: stretch;
	margin: 2%;
	color: white;
}

h1 {
	font-size: 25px;
	color: dimgray;
	padding: 40px 45px 0px 0px;
	width: 100%;
	text-align: right;
}
.container > div:first-child {
	width: 43%;
	background-color: #f38989;
}

.container > div:last-child {
	width: 53%;
	background-color: white;
}

.table {
	display: table;
	text-align: center;
	width: 100%;
	border-collapse: separate;
	font-weight: bold;
	margin: 0px 15px 15px 0px;
}

.theader {
	display: table-row;
}

.table_header {
	display: table-cell;
	color: dimgray;
	padding-top: 10px;
	font-weight: bold;
	padding: 15px 38px;
}

.months {
	display: flex;
	color: dimgray;
	list-style-type: none;
	font-size: 10px;
	justify-content: space-around;
	width: 100%;
	padding: 0px 26px 0px 20px;
	margin: 0px;
}

.selected {
	font-size: 11px;
	font-weight: bold;
	color: black;
}

.info-holder {
	margin: 52px 0px 0px 50px;
	letter-spacing: 1px;
}

h2 {
	padding: 0;
	margin: 0;
}

.month-info {
	font-size: 35px;
}

.cl-day {
	margin: 0;
	padding: 14px 39px 21px 39px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	color: dimgray;
	list-style-type: none;
}

.cl-day > li {
	width: 338px;
	padding: 1em;
	border: 1px solid lightgrey;
}

span.day::before {
}
span.dayMas {
}

.currentDay {
	background-color: #e2e2e2;
	color: white;
}

.cl-day > li:hover {
	background-color: #e2e2e2;
	color: white;
	cursor: pointer;
}

.months > li {
	cursor: pointer;
}

.red,
.yellow,
.blue,
.green {
	padding: 6px;
	color: black;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: rgb(96, 96, 195);
}

.green {
	background-color: aquamarine;
}

.float-left {
	position: absolute;
	float: left;
	top: 74px;
	left: 73px;
}

.likeH1 {
	font-size: 25px;
}

.largeDay {
	margin-left: 10px;
	font-size: 35px;
}
