body{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #282726;
}
#root{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-holder{
    width: 750px;
    display: flex;
    justify-content: flex-end;
}

.search{
    flex: 1;
}
input[type=text] {
    width: 64%;
    box-sizing: border-box;
    margin-top: -10px;
    padding: 13px 20px;
}

nav > a {
    border: 1px solid lightgrey;
    padding: 10px;
    cursor: pointer;
}

nav > a:hover{
    background-color: #a7414a;
    color: white;
    border: 2px solid white;

}
.active{
    background-color: lightgray;
}
.selected {
    background-color: #a7414a;
    color: white;
    border: 2px solid white;

}

.data-holder{
    margin-top: 25px;
    border: 1px solid lightgray;
    display: table;
    width: 800px;
    padding: 5px;

}
.header {
    display: table-row;

}
.data-holder > .header:first-child{
    font-weight: bold;
}
.header:nth-child(even){
    background-color: #6a8a82;
    color:white;
}


.header > div {
    display: table-cell;
    padding: 5px;
}

button {
    border: 1px solid lightgrey;
    padding: 3px;
    cursor: pointer;
    font-size: 14px;
    color: #a7414a;
    float: right;
}

button:hover{
    color: white;
    background-color: #a7414a;
}
